:root {
    --c-bg: #24292e;
    --ff-brand: 'Nanum Gothic', sans-serif;
    --ff-text: 'Montserrat', sans-serif;
    --bg-carac: #5d9fe2;
    --box-card: 0 0 1px rgb(16, 14, 23, 0.5);
}

:target {
    padding-top: 2rem;
}
html {
    font-family: var(--ff-text);
    scroll-behavior: smooth;
    a {color: inherit;}
}
body {
    padding-top: 3.6rem;
    min-height: 100vh;
}
header {
    position: relative;

    h1 {
        text-shadow: 6px 6px 15px rgba(255, 255, 255, 0.8);
    }
    hr {
        border-top: 1px solid #fff;
    }
}
button {
    border-radius: 1rem !important;
}

footer .fab {
    font-size: 3rem;
}