:root {
    --c-bg: #24292E;
    --ff-brand: 'Nanum Gothic', sans-serif;
    --ff-text: 'Montserrat', sans-serif;
    --bg-carac: #5d9fe2;
}

:target {
    padding-top: 2rem;
}

html {
    font-family: var(--ff-text);
    scroll-behavior: smooth;
}

html a {
    color: inherit;
}

body {
    padding-top: 3.6rem;
}

/* Clases Propias Compartidas */
.ff-brand {
    font-family: var(--ff-brand);
}
.bg-brand {
    background-color: var(--c-bg);
}
.modal-75 {
    max-width: 75%;
}
/* Clases Propias Compartidas - Fin */

/* Estilos del Nav */
.navbar-brand {
    font-size: 1.75rem;
    line-height: 1.5;
}

@media(min-width: 576px) {
    .nav-item {
        font-size: 1.1rem;
        margin-left: 1rem;
    }
}

.dropdown-menu,
.dropdown-item {
    background-color: var(--c-bg);
    color: #ffffff;
}
/* Estilos del Nav - Fin */

/* Estilos del Header */
header {
    position: relative;
}
.jumbotron {
    margin-bottom: 0;
}
.jumbotron-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/bg-header.jpg);
    background-position: center;
    filter: brightness(60%);
}
header h1 {
    text-shadow: 6px 6px 15px rgba(255, 255, 255, 0.8);
}
.img-perfil {
    border-radius: 50%;
    border: solid 5px #fff;
    filter: brightness(115%);
}
/* Estilos del Header - Fin */

/* Estilos de la Barra de Caracteristicas */
.caracteristicas {
    background-color: var(--bg-carac);
}

.caracteristicas i[class^="fa"] {
    font-size: 7rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.caracteristicas p {
    font-size: 1.5rem;
    font-weight: bold;
}
/* Estilos de la Barra de Caracteristicas */

/* Estilos de Mis Clientes */
.websites-clients {
    margin-bottom: 5rem;
}
.websites-clients h2 {
    font-size: 2.25rem;
    letter-spacing: 7px;
}

header hr {
    border-top: 1px solid #fff;
}

/* Estilos de Mis Clientes - Fin */

/* Estilos del Carrusel */
.carousel-indicators {
    bottom: -5rem;
}

.carousel-indicators li {
    background-color: var(--c-bg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 1rem;
}
/* Estilos del Carrusel - Fin*/

section.about-me {
    background-color: #43464B;
    width: 100%;
    height: 400px;
}

.about-me-container {
    width: 90%;
    height: 300px;
    background-color: azure;
}





/* Estilos de Ventana Modal */
.modal iframe {
    height: 85vh;
}
/* Estilos de Ventana Modal - Fin */

/* Estilos del Footer */
footer .fab {
    font-size: 3rem;
}

/* Estilos del Footer - Fin */